[package]
name = "geom"
version = "0.1.0"
edition.workspace = true
keywords.workspace = true
categories.workspace = true
authors.workspace = true
repository.workspace = true
license.workspace = true
rust-version.workspace = true

[dependencies]
udled = { path = "../udled", features = ["binary"] }
geo-types = { version = "0.7" }
geo-traits = { version = "0.3" }
byteorder = { version = "1" }
